body *{
    font-family: 'Roboto Slab', serif;
    color: black;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
h1{
    font-size: 3em;
    padding-bottom: .5em;
}
.display{
    display: flex;
    justify-content: space-around;
}
.picture{
    width: 30em;
    height: 30em;
    
}