body *{
    font-family: 'Roboto Slab', serif;
    color: black;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
h1{
    font-size: 3em;
    padding-bottom: .5em;
}
a{
    text-decoration: none;
    color:#fd5e53;
}
a:hover{
    background-color:#b0eacd;
}
.listing{
    display:flex;
    flex-direction: column; 
}
.title{
    font-size: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
}